<settings>
    <servers>
        <server>
            <id>ssh-ec2-deploy</id>
            <username>ubuntu</username>
            <privateKey>~/dev/aws-keys/awskey2.pem</privateKey>
            <configuration>
                <sshExecutable>ssh</sshExecutable>
                <scpExecutable>scp</scpExecutable>
                <sshArgs></sshArgs>
            </configuration>
        </server>
    </servers>
</settings>